<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="data:,">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script defer src="js/face-api.min.js"></script>
  <script defer src="js/script.js"></script>
  <style>
    #video {
      border: 1px solid black;
      box-shadow: 2px 2px 3px black;
    }

    #canvas {
      display: none;
    }
  </style>
</head>

<body>
  <canvas id="canvas">
  </canvas>
  <video id="video" autoplay muted></video>
</body>

</html>